html 
    head   
        link(rel="stylesheet", href="/App_Server/public/assets/css/bootstrap.min.css")
        title 
        |Bu bir deneme projesidir.
    body
        h4.text-center | Ertan Akpınaroğlu C.E 